{% load static %}
<div class="post-right-item">
    <h4 class="post-right-title">联系我</h4>
    <div class="post-right-item">
        <p><strong>联系方式:</strong></p>
        <p>QQ：254032134</p>
        <p>Email：rxswift@126.com</p>
    </div>
</div>

<!--<div class="post-right-item">-->
    <!--<h4 class="post-right-title">关注我</h4>-->
    <!--<div class="wid-about">-->
        <!--<p></p>-->
        <!--<img src="static/picture/weixinqr.jpg" width="160" height="160">-->
    <!--</div>-->
    <!--<div class="wid-about">-->
        <!--<p><strong>联系方式:</strong></p>-->
        <!--<p>QQ:254032134</p>-->
        <!--<p>Email：rxswift@126.com</p>-->
    <!--</div>-->
<!--</div>-->