{% extends 'base.html'%}
{% block content %}
 <div id="main-container" class="container clearfix">
	<section class="post-left">
		<div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于博主</span></div>				<div class="post-main clearfix">
			<h1 class="post-title">关于博主</h1>
			<div class="post-con clearfix">
				<div class="article-meta"> <span class="item">2020-11-19</span></div>
				<article class="article-content">
                    <p><br>一名iOS开发</br><br>GitHub地址：https://github.com/xingtianwuganqi</br><br>热爱编程，热爱生活，努力成为一名优秀的程序员</p>
					<p><br>本站属于个人的非赢利性网站，如需转载，请注明出处。</br><br>文章中有任何错误或不妥之处请及时联系博主。</br><br>任何透过本网站网页而链接及得到的资讯、产品及服务，本站概不负责，亦不负任何法律责任。</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
				</article>

			</div>

		</div>
				<!-- /文章 -->
	</section>
	<!-- /post-left -->
	<!-- /post-right -->
<aside class="post-right hidden-xs">
<!-- /关注我们 -->

    {% include 'about.html' %}
</aside>
</div>
<!-- /主体 -->
<!-- 底部 -->

{% endblock %}